<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <a href= '/spacs'> View Spaces </a> <br>
  
  <form action="/logout" method="get"> 
          <input type="submit" value="Logout">
      </form> 
   <p> You have requested to reserve <%=@booking.space.name%> on <%=@booking.booked_date%>  </p> <br>

   <p> Enjoy your stay! </p>


</body>
</html>