<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
  <title>Document</title> 
</head>
<body>   

  <div class="top">  
    <div>  
      <h2>Makersbnb</h2>
    </div>
  </div> 

  <nav>  

    <div>  
      <p>Home</p>
    </div> 

    <div>
     
        <a href= '/signup'>Create Account</a>
        <a href="/login">Login</a>  
    </div>  

  </nav>  

  <div class="main"> 
    <div class="main_item">  
      <p>Creating New Memories</p>
    </div>
  </div>   
  
  <footer>  

  </footer>

</body>
</html>