<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action='/owner/new' method='post'>
      <label for="username">Username</label>
      <input type="text" name="owner[username]">

      <label for="email">Email</label>
      <input type="email" name="owner[email]">

      <label for="name">Name</label>
      <input type="text" name="owner[name]">

      <label for="password">Password</label>
      <input type="text" name="owner[password]">

      <input type='submit' name="Sign up">
    </form>
  </body>
</html>
