<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    <p> Check availability below </p>

    <p>Space detail stuff</p>

NOT WORKING YET
    <%= month_calendar do |date| %>
      <%= date %>
    <% end %>
    ------
</body>
</html>
