<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body> 
      <form action="/logout" method="get"> 
          <input type="submit" value="Logout">
      </form> 
        <div>
            <% Space.all.each do |space| %>
              <ul>
                <%= space.name %> 
                <%= space.description %> 
                <%= space.price %>
              </ul>
              <a href="/space/<%=space.id%>/reserve">reserve</a>
            <% end %>
        </div>
    </body>
</html>
