<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <div>
            <form action="/space/save" method='post'>
                <label for="space[name]"> Add name of property </label>
                    <input type="text" name='space[name]'>
                    <input type="hidden" name='space[owner_id]' value="<%=session[:owner_id]%>"> 
                    <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
