/* *= require simple_calendar */
/* Code above needed to style calendar? */


body {
  background-color: red;
}
label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}